apiVersion: v1
kind: Secret
metadata:
  name: azure-file-secret
  namespace: myapp
type: Opaque
stringData:
  azurestorageaccountname: "${storage_account_name}"
  azurestorageaccountkey: "${storage_account_key}"
